
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --purple:        #5B3EE8;
  --purple-light:  #EEE9FF;
  --gold:          #F5C842;
  --text:          #1A1A2E;
  --muted:         #6B7280;
  --bg:            #F8F7FC;
  --white:         #FFFFFF;
  --border:        #E5E7EB;



 --tag-stem:   #DBEAFE;   --tag-stem-t:  #1D4ED8;   
  --tag-hum:    #FCE7F3;   --tag-hum-t:   #9D174D;   
  --tag-res:    #EDE9FE;   --tag-res-t:   #6D28D9;   
  --tag-ivy:    #FEE2E2;   --tag-ivy-t:   #B91C1C;   
  --tag-eu:     #E0E7FF;   --tag-eu-t:    #4338CA;   
  --tag-lt:     #D1FAE5;   --tag-lt-t:    #065F46;   
  --tag-his:    #FFEDD5;   --tag-his-t:   #9A3412;   
  --tag-schol:    #DCFCE7;   --tag-schol-t:  #166534;
  --tag-asia:     #D1FAE5;   --tag-asia-t:   #065F46;
  --tag-tech:     #DBEAFE;   --tag-tech-t:   #1D4ED8;
  --tag-pacific:  #CCFBF1;   --tag-pacific-t:#0F766E;
  --tag-english:  #E0F2FE;   --tag-english-t:#0369A1;
}

/* 
   BODY
 */
body {
  font-family: 'DM Sans', sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  min-height: 100vh;
}

/*     SIDEBAR     */

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: var(--white);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  position: fixed;
  top: 0; left: 0; bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px 28px;
  border-bottom: 1px solid var(--border);
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: var(--purple);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon img {
  width:55%;
  height: 70%;
  object-fit: contain;
  border-radius: 8px;
  filter: brightness(0) invert(1);
}

.logo-text h2 { font-size: 15px; font-weight: 700; color: var(--text); }
.logo-text p  { font-size: 11px; color: var(--muted); margin-top: 2px; }

.nav-label {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: var(--muted);
  padding: 20px 20px 8px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--muted);
  cursor: pointer;
  transition: all 0.18s;
  text-decoration: none;
}
.nav-item img {
    align-items: center;
    margin-left: 4px;
    margin-top: 4px;
    width: 16px;
    height: 16px;
}

.nav-item:hover        { background: var(--purple-light); color: var(--purple); }
.nav-item .icon        { font-size: 16px; width: 20px; text-align: center; }
.nav-item .arrow       { margin-left: auto; font-size: 12px; }

.sign-in-btn {
  margin: auto 16px 0;
  background: var(--purple);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.18s;
}
.sign-in-btn img{
    object-fit: contain;
    width: 20px;
    height: 20px;
}

.sign-in-btn:hover { background: #4730c5; }

/* MAIN AREA*/
.main {
  margin-left: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR*/
.topbar {
  background: var(--white);
  border-bottom: 1px solid var(--border);
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: gray;
}
.globe-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.topbar-left span { font-weight: 500; }

.topbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notif-btn {
  width: 36px; height: 36px;
  border: 1px;
  border-radius: 16px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.notif-btn:hover {background: #f9f9fc;}
.notif-dot {
  width: 12px;
  height: 12px;
  background: var(--purple);
  border-radius: 50%;
  position: absolute;
  top: 4px; right: 4px;
  border: 2px solid white;
}
 
  
.signin-top-btn {
  font-family: 'DM Sans', serif;
  background: var(--purple);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.18s;
}

.signin-top-btn:hover { background: #4730c5; }

/* 
   CONTENT
 */
.content {
  padding: 36px 32px;
  flex: 1;
}

.page-title   { font-family: 'Dm Sans', sans-serif; font-size: 32px; font-weight: 700; }
.page-subtitle{ font-family: 'Dm Sans', sans-serif; color: var(--muted); margin-top: 4px; }

/* 
  stat card
*/

.stats-row {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  border-radius: 12px;
  padding: 18px 20px;
  flex: 1;
}

.stat-icon {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon.purple { background: #f3eeff; }
.stat-icon.purple img {filter: brightness(0) saturate(100%) invert(22%) sepia(95%) saturate(700%) hue-rotate(255deg) brightness(90%); }
.stat-icon.green  { background: #edfaf3; }
.stat-icon.blue   { background: #eef2ff; }
.stat-icon.blue img { filter: brightness(0) saturate(100%) invert(22%) sepia(95%) saturate(700%) hue-rotate(200deg) brightness(90%);}

.stat-info {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 22px;
  font-weight: 700;
  color: #1a1a2e;
}

.stat-label {
  font-size: 13px;
  color: #94a3b8;
}

/* 
   SEARCH BAR
 */

.search-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.search-wrap { flex: 1; position: relative; }

.search-wrap input {
  width: 100%;
  padding: 12px 16px 12px 40px;
  border: 1px solid var(--border);
  border-radius: 12px;
  font-size: 14px;
  background: var(--white);
  color: var(--text);
  outline: none;
  transition: border-color 0.18s;
}

.search-wrap input:focus { border-color: rgb(28, 168, 214); outline: 1px solid gainsboro}
.search-wrap input::placeholder{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--muted);
}


.search-icon {
  position: absolute;
  left: 14px; 
  top: 14px;
  color: var(--muted);
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 16px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--white);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.18s;
}
.filter-btn img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.filter-btn:active {
    background: var(--purple);
}
.filter-btn:hover { border-color: rgb(28, 168, 214); color: var(--purple); outline: 1px solid gainsboro;}

/* 
   FILTER CHIP
 */

.filter-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0 16px;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 7px 16px;
  border-radius: 20px;
  border: 1px solid #e2e8f0;
  background: #fff;
  color: #4a5568;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.chip:hover {
  border-color: #7c3aed;
  color: #7c3aed;
}

.chip.active {
  background: #7c3aed;
  color: #fff;
  border-color: #7c3aed;
}
.results-count        { font-size: 16px; color: var(--muted); margin-top: 20px; margin-bottom: 20px;}
.results-count strong { color: var(--text); }

/* 
   CARDS GRID
 */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 16px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* HEADER */
.card-header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.card-avatar {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: #ede9fe;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.card-title-wrap {
  flex: 1;
}

.card-title {
  font-size: 15px;
  font-weight: 700;
  color: #1a1a2e;
  margin: 0;
}

.card-university {
  font-size: 12px;
  color: #94a3b8;
  margin: 0;
}

.heart-btn {
  background: #f0fdf4;
  border: none;
  font-size: 18px;
  color: #cbd5e1;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-btn:hover {
  background: #fff1f2;
  color: #f43f5e;
}

/* TAGS */
.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.tag.green         { background: #dcfce7; color: #16a34a; }
.tag.green-outline { background: #f0fdf4; color: #16a34a; border: 1px solid #bbf7d0; }
.tag.blue-outline  { background: #eff6ff; color: #2563eb; border: 1px solid #bfdbfe; }
.tag.purple-outline{ background: #f5f3ff; color: #7c3aed; border: 1px solid #ddd6fe; }
.tag.orange        { background: #fff7ed; color: #ea580c; border: 1px solid #fed7aa; }
.tag.red-outline   { background: #fff1f2; color: #e11d48; border: 1px solid #fecdd3; }

/* DESCRIPTION */
.card-desc {
  font-size: 13px;
  color: #64748b;
  line-height: 1.5;
  margin: 0;
}

/* META BOXES */
.card-meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.meta-box {
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.meta-box.green { background: #f0fdf4; }
.meta-box.red   { background: #fff1f2; }

.meta-label {
  font-size: 11px;
  color: #94a3b8;
}

.meta-value {
  font-size: 13px;
  font-weight: 700;
}

.meta-box.green .meta-value { color: #16a34a; }
.meta-box.red   .meta-value { color: #e11d48; }

/* FOOTER */
.card-footer {
  display: flex;
  align-items: center;
  justify-content:  space-between;
  color: #94a3b8;
}


.footer-item {
  display: flex;
  align-items: center;
  gap: 5px;

}

.footer-item img {
  width: 15px;
  height: 15px;
  position: relative;
  
}

/* 
   RESPONSIVE
 */

/* Tablet — 1024px  */
@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile — 768px*/
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .logo-text,
  .sidebar .nav-label,
  .nav-item span:not(.icon),
  .sign-in-btn span,
  .nav-item .arrow {
    display: none;
  }
 
  .cards-grid {
    grid-template-columns: 1fr;
  }

}

/* 
   HAMBURGER MENU 
 */

/* Checkbox - hidden */
.menu-toggle-input {
  display: none;
}

/* Hamburger ☰ button */
.hamburger-btn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
  color: gray;
  margin-right: 8px;
}

/* X button in sidebar */
.sidebar-close {
  display: none;
  position: absolute;
  top: 16px;
  right: 12px;
  font-size: 16px;
  cursor: pointer;
  color: var(--muted);
  padding: 4px 8px;
  border-radius: 6px;
}



@media (max-width: 768px) {
 
  .hamburger-btn {
    display: inline-flex;
    align-items: center;
  }

  /* X button */
  .sidebar-close {
    display: block;
  }

  /* Sidebar */
  .sidebar {
    width: 240px;
    left: -240px;
    transition: left 0.25s ease;
    z-index: 100;
  }

  .main {
    margin-left: 0;
  }
}